body {
    /* background-image: -webkit-gradient( */
    /*     linear, */
    /*     left bottom, */
    /*     left top, */
    /*     color-stop(0.46, rgb(255,255,255)), */
    /*     color-stop(0.73, rgb(88,191,95)) */
    /* ); */
    /* background-image: -moz-linear-gradient( */
    /*     center bottom, */
    /*     rgb(255,255,255) 46%, */
    /*     rgb(88,191,95) 73% */
    /* ); */
    /* background-repeat: no-repeat; */

    /* background-attachment: fixed; */
    /* background-position: center center; */

    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
}

#vis
{
    float: right;
    width: 60%;
}  

#fig
{
    margin-left: auto;
    margin-right: auto;
}  


#jsddm
{	
    float: left;
    margin: 0;
    padding: 0;
}

#jsddm li
{
    list-style: none;
    padding: 1;
    font: 12px Tahoma, Arial;
    clear: both;
}

#jsddm li a
{	
    display: block;
    background: #324143;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    color: #EAFFED;
    white-space: nowrap
}

#jsddm li a:hover
{	
    background: #24313C
}

#jsddm li ul
{	
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    visibility: hidden;
    border-top: 1px solid white;
    white-space: nowrap;
    float: none;
}

#jsddm li ul li
{	
    height: auto;
    background: #A9C251;
    color: #24313C;
    border-top: 1px solid white;
    float: none;
    padding: 3;
}